html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.titulo {
    color: #7c8052;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.caja-header {
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-principal {
    width: 300px;
    height: 400px;
    border: 2px solid #7c8052;
    margin: 0 auto;
    margin: 20px auto;
    border-radius: 10px;
}

.caja-cabezera, .caja-pie {
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #7c8052;
    width: 500px;
}

.boton-numeros {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #7c8052;
    background-color: #e0e0e0;
    cursor: pointer;
}

.resultado {
    width: 90%;
    height: 50px;
    margin: 20px 15px;
    margin-bottom: 20px;
    border: 1px solid #7c8052;
    border-radius: 5px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
}

.boton-operadores {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #7c8052;
    background-color: #d0d0d0;
    cursor: pointer;
}

.caja-footer {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
